@import "fonts";
@import "icomoon";
@import "vars";
@import "global";


//header

.header {
    padding: 25px 0px;
    background-color: #eef1f3;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    &__store{
        @include f700;
        color: #0674ec;
        font-size: 30px;
        line-height: 28px;
        color: #000;
        span{
            color:#0674ec;
        }
    }
    &__inner {
        width: calc(55%);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__button {
        padding: 10px 10px;
        background-color: $blue;
        border-radius: 50px;
        color: #fff;
        text-decoration: none;
        margin-left: 70px;
        margin-right: 50px;
    }
    &__bell {
        color: #7e8fa1;
        position: relative;
        font-size: 20px;
        z-index: 2;
        text-decoration: none;
        .header__ammount {
            @include f400;
            font-size: 14px;
            position: absolute;
            top: -15px;
            right: -10px;
            background-color: #ff6a6c;
            width: 22px;
            height: 22px;
            text-align: center; 
            padding-top: 4px;
            color: #fff;
            border-radius: 100%;
            font-size: 14px;
        }
    }
    &__envelope {
        color: #7e8fa1;
        position: relative;
        font-size: 20px;
        z-index: 2;
        text-decoration: none;
        .header__ammount {
            @include f400;
            font-size: 14px;
            position: absolute;
            top: -15px;
            right: -10px;
            background-color: #62d03b;
            width: 22px;
            height: 22px;
            text-align: center; 
            padding-top: 4px;
            color: #fff;
            border-radius: 100%;
            font-size: 14px;
        }
    }
    &__cart {
        color: #7e8fa1;
        position: relative;
        font-size: 20px;
        z-index: 2;
        text-decoration: none;
        .header__ammount {
             @include f400;
             font-size: 14px;
             position: absolute;   
             top: -15px;
             right: -10px;
             background-color: #0674ec;
             width: 22px;
             height: 22px;
             text-align: center;    
             padding-top: 4px;
             color: #fff;
             border-radius: 100%;
             font-size: 14px;
        }
    }
    &__account-image {
        margin-left: 20px;
    }
    &__name {
        margin-left: -10px;
        font-weight: 700;
        color: #000;
    }
    &__price {
        color: $blue;
        font-weight: 700;
    }
    &__link{
        width: calc(30%);
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        align-items: center;
    }
}

//header end


//search

.search {
    padding: 20px 0px;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__nav {
        ul{
            padding-left: 0px;
        }
        li{
            display: inline-block;
            list-style: none;
            &+li{
                margin-left: 30px;
            }
            a{
                text-decoration: none;
                color: #000;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
    &__form {
        position: relative;
    }
    &__input {
        border-radius: 50px;
        padding: 15px 15px ;
        outline: none;
        padding-right: 75px; 
        height: 45px;
        width: 360px;
        border: 1px solid #d9dfe5;
    }
    &__button {
        position: absolute;
        padding: 15px 27px;
        border: none;
        border-radius: 50px;
        background-color: $blue;
        color: #fff;
        top: 0;
        right: 0;
        outline: none;
        cursor: pointer;
    }
 
}

//search end


//mainscreen

.mainscreen {
    padding-top:180px;
    padding-bottom: 100px;
    &__wrapper{
        text-align: center;
    }
    background-color: #183dc4;
    &__title {
        color: #f3f3f8;
        font-size: 60px;
        span{
        @include f700;
        }
    }
    &__descr {
        color: #f3f3f8;
        font-weight: 500;
    }
    &__links {
        margin-top: 75px;
        display: flex;
        justify-content: center;
    }
    &__link {
        text-decoration: none;
        color: #f3f3f8;
        padding: 20px;
        border: 1px solid #f3f3f8;
        display: block;
        margin: 15px;
        border-radius: 50px;
        margin-bottom: 0px;
        &:nth-child(1){
            background-color: #f3f3f8;
            color: $blue;
        }
    }
    &__search {
        top: 185px;
        position: relative;
        padding: 20px;
        z-index: 9;
        &::after{
            content: '';
            position: absolute;
            width: calc(94%);
            position: absolute;
            margin: 0 auto; 
            height: 130px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.5;
            border-radius: 6px;
            background-color: #fff;  
            z-index: 0;
        }
        &::before{
            content: '';
            position: absolute;
            margin: 0 auto; 
            top: -15px;
            left: 0;
            right: 0;
            bottom: 0;
            width: calc(92%);
            height: 130px;  
            opacity: 0.5;
            border-radius: 6px;
            background-color: #ffffff;  
            z-index: 0;
        }
        input{
            height: 55px;
            padding-left: 30px;
            width: calc(55%);
            border:  1px solid #dcdcdc;
            border-radius: 4px;
            outline: none;
            color: #aaaaaa;
        }
        select{
            border:none;
            outline: none;
            height: 55px;
            border:  1px solid #dcdcdc;
            color: #555555;
            border-radius: 0px 4px 4px 0px;
            margin-left: -30px;
            padding-left: 20px;
            padding-right: 35px;
        }
        button{
            padding: 18.5px 67px;
            background-color: $blue;
            border: none;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 25px;
       
        }
    }
    &__form {
        z-index: 9;
        position: relative;
        padding: 40px 0px;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    }
}


//mainscreen end



//conditions

.conditions {
    padding-top: 180px;
    padding-bottom: 120px;

    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        text-align: center;
        flex-basis: calc(33.333%);
    }
}

.conditions-item {
    border-radius: 4px;
    padding: 40px 35px; 
    transition: all .3s;
    display: block;
    text-decoration: none;
    &:hover{
        box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08); 
        transition: all .3s;
    }
    &__icon{
        img{
            width: 112px;
            height: 112px;
        }
    }
    &__title {
        line-height: 7.2px;
        font-size: 24px;
        color: #000000;
        padding-top: 40px;
    }
    &__descr {
        padding-top: 35px;
        line-height: 30px;
        font-size: 16px;
        color: #555555;
    }
}


//conditions end



//slider

.slider {
    padding: 120px 0;
    background-color: #eff1f5;
    &__item {
        display: flex !important;
        background-color: #fff;
        box-shadow: 0 2px 30px rgba(147, 155, 168, 0.1);
        border-radius: 4px;
    }
    &__image {
        flex-basis: calc(50%);
      
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        border-radius: 4px 0px 0px 4px;
    }
    &__description {
        flex-basis: calc(60%);
        padding: 50px 65px 25px 50px;
    }
    &__title {
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
        color: #000;
    }
    &__persone {
        display: flex;
        align-items: center;
        padding-top: 15px;
        a{
            text-decoration: none;
            color: #000;
        }
    }
    &__picture {
        display: flex;
        align-items: center;
    }
    &__name {
        font-size: 15px;
        line-height: 30px;  
        padding-left: 10px;
    }
    &__cms {
        display: flex;
        padding-left: 20px;
        a{
            text-decoration: none;
        }
        span{
            color: #7347c1;
            padding-left: 10px;
        }
    }
    &__text {
        font-size: 16px;
        line-height: 30px;
        color: #555555;
        padding-top: 35px;
    }
    &__product {
        display: flex;
        padding-bottom: 45px;
    }
    &__teg {
        line-height: 30px;
        font-size: 15px;
        padding: 0px 15px;
        border-radius: 14px;
        background-color: #f1f3f6;
        color: #868c96;
        margin-top: 30px;
       
        &+&{
            margin-left: 8px;
        }
    }
    &__price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 23px;
        border-top: 1px solid #ececec;
    }
    &__price-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(45%); 
    }
    &__sum {
        font-size: 15px;
        line-height: 30px;
        color: #ffffff;
        background-color: $blue;
        border-radius: 16px;
        padding: 0px 17px;
    }
    &__likes {
        color: #7347c1;
        span{
            @include f400;
            color: #555555;
        }
    }
    &__cart {
        color: #0674ec;
        span{
            @include f400;
            color: #0674ec;
        }
    }
}

.slider-controls {
    padding: 40px 30px 40px 20px;
    background-color: #fff;
    margin-bottom: 50px;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
        line-height: 28px;
        font-size: 30px;
    }
    &__buttons {
        background-color: #7347c1;
        display: flex;
        border-radius: 23px;
        padding: 15px 5px;
        button{
            background-color: transparent;
            border: none;
            color: #fff;
            outline: none;
            // font-size: 0;
            color: #b59ede;
            cursor:pointer;
            padding: 0px 20px;  
        }
    }
}

.slick-track{
    display: flex;
}

//slider end

//mixer

.mixer {
    &__wrapper{
        margin-left: -30px;
    }
    padding: 120px 0px; 
    background-color: #f6f7fb;
    &__buttons {
        .mixitup-control-active{
            background-color: $blue;
            color: #fff;
            }
        margin-left: 30px;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        padding: 30px;
        box-shadow: 0 1px 2px rgba(90, 93, 100, 0.1);
        border-radius: 4px;
        button{
            outline: none;
            padding: 10px 20px;
            border: none;
            background-color: #f1f3f6;
            border-radius: 16px;
            cursor: pointer;
            color: #a2a8b0;
            }
        }
      
    &__select {
        border: none;
        color: #747b86;
        line-height: 32px;
        font-size: 16px;
        width: 95px;
        outline: none;
    }
    
}
.mixer-controls{
    margin-left: 30px;
}
.mixer-mix {
    &__box {
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    &__descr{
        padding: 30px 10px 20px 35px;        
    }

    &__item {
    margin-top: 30px;
    margin-left: 30px;  
    width: calc(33.3333% - 30px);
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    }
    &__image {
        position: relative;
        img{
            width: 100%; 
            height: 100%;
        }
        &:hover{
            .mixer-mix__hover{
                opacity: .9;
                transition: .3s;
            }
        }
    }
    &__image_name{
        display: flex;
    }
    &__title {
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        color: #000;
    }
    &__persone {
        display: flex;
        align-items: center;
        a{
            text-decoration: none;
        }
        padding-top: 15px;
    }
    &__name {
        display: flex;
        align-items: center;
        color: #000;
        font-size: 15px;
        line-height: 30px;
        padding-left: 7px;
    }
    &__plugin {
        padding-left: 20px;
    }
    &__cms {
        padding-left: 10px;
        color: #7347c1;
    }
    &__text {
        line-height: 30px;
        font-size: 16px;
        color: #555555;
        padding-top: 25px;
        padding-bottom: 35px;
    }
    &__calc{
        padding: 0px 30px;
        padding-bottom: 15px;
        width: calc(100%);
    }
    &__new-products{
        padding-top: 60px;
        display: flex;
        justify-content: center;
        button{
            border-radius: 28px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            padding: 20px 30px;
            border: none;
            background-color: $blue;
            color: #fff;
            outline: none;
            cursor: pointer;
            font-size: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        }
    }
    &__hover{
        height: 99%;
        border-radius: 4px 4px 0px 0px;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: .3s;
    }
    &__links{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__link{
        text-decoration: none;
        color: #fff;
        padding: 18px 28px;
        border-radius: 50px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        font-size: 15px;
        border: 1px solid #fff;
        margin:0px 5px;    
        &:nth-child(2){
            background-color: #fff;
            color: $blue;
        }
    }
}



//mixer end
















@import "media";
