@import "fonts";
@import "icomoon";
@import "vars";
@import "global";


//header

.header {
    padding: 25px 0px;
    background-color: #eef1f3;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    &__store{
        @include f700;
        color: #0674ec;
        font-size: 30px;
        line-height: 28px;
        color: #000;
        span{
            color:#0674ec;
        }
    }
    &__inner {
        width: calc(55%);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__button {
        padding: 10px 10px;
        background-color: $blue;
        border-radius: 50px;
        color: #fff;
        text-decoration: none;
        margin-left: 70px;
        margin-right: 50px;
    }
    &__bell {
        color: #7e8fa1;
        position: relative;
        font-size: 20px;
        z-index: 2;
        text-decoration: none;
        .header__ammount {
            @include f400;
            font-size: 14px;
            position: absolute;
            top: -15px;
            right: -10px;
            background-color: #ff6a6c;
            width: 22px;
            height: 22px;
            text-align: center; 
            padding-top: 4px;
            color: #fff;
            border-radius: 100%;
            font-size: 14px;
        }
    }
    &__envelope {
        color: #7e8fa1;
        position: relative;
        font-size: 20px;
        z-index: 2;
        text-decoration: none;
        .header__ammount {
            @include f400;
            font-size: 14px;
            position: absolute;
            top: -15px;
            right: -10px;
            background-color: #62d03b;
            width: 22px;
            height: 22px;
            text-align: center; 
            padding-top: 4px;
            color: #fff;
            border-radius: 100%;
            font-size: 14px;
        }
    }
    &__cart {
        color: #7e8fa1;
        position: relative;
        font-size: 20px;
        z-index: 2;
        text-decoration: none;
        .header__ammount {
             @include f400;
             font-size: 14px;
             position: absolute;   
             top: -15px;
             right: -10px;
             background-color: #0674ec;
             width: 22px;
             height: 22px;
             text-align: center;    
             padding-top: 4px;
             color: #fff;
             border-radius: 100%;
             font-size: 14px;
        }
    }
    &__account-image {
        margin-left: 20px;
    }
    &__name {
        margin-left: -10px;
        font-weight: 700;
        color: #000;
    }
    &__price {
        color: $blue;
        font-weight: 700;
    }
    &__link{
        width: calc(30%);
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        align-items: center;
    }
}

//header end


//search

.search {
    padding: 20px 0px;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__nav {
        ul{
            padding-left: 0px;
        }
        li{
            display: inline-block;
            list-style: none;
            &+li{
                margin-left: 30px;
            }
            a{
                text-decoration: none;
                color: #000;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
    &__form {
        position: relative;
    }
    &__input {
        border-radius: 50px;
        padding: 15px 15px ;
        outline: none;
        padding-right: 75px; 
        height: 45px;
        width: 360px;
        border: 1px solid #d9dfe5;
    }
    &__button {
        position: absolute;
        padding: 15px 27px;
        border: none;
        border-radius: 50px;
        background-color: $blue;
        color: #fff;
        top: 0;
        right: 0;
        outline: none;
        cursor: pointer;
    }
 
}

//search end


//mainscreen

.mainscreen {
    padding-top:100px;
    padding-bottom: 100px;
    &__wrapper{
        text-align: center;
    }
    background-color: #183dc4;
    &__title {
        color: #f3f3f8;
        font-size: 60px;
        span{
        @include f700;
        }
    }
    &__descr {
        color: #f3f3f8;
        font-weight: 500;
    }
    &__links {
        margin-top: 75px;
        display: flex;
        justify-content: center;
    }
    &__link {
        text-decoration: none;
        color: #f3f3f8;
        padding: 20px;
        border: 1px solid #f3f3f8;
        display: block;
        margin: 15px;
        border-radius: 50px;
        margin-bottom: 0px;
        &:nth-child(1){
            background-color: #f3f3f8;
            color: $blue;
        }
    }
    &__search {
        top: 185px;
        position: relative;
        padding: 20px;
        z-index: 9;
        &::after{
            content: '';
            position: absolute;
            width: calc(94%);
            position: absolute;
            margin: 0 auto; 
            height: 130px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.5;
            border-radius: 6px;
            background-color: #fff;  
            z-index: 0;
        }
        &::before{
            content: '';
            position: absolute;
            margin: 0 auto; 
            top: -15px;
            left: 0;
            right: 0;
            bottom: 0;
            width: calc(92%);
            height: 130px;  
            opacity: 0.5;
            border-radius: 6px;
            background-color: #ffffff;  
            z-index: 0;
        }
        input{
            height: 55px;
            padding-left: 30px;
            width: calc(55%);
            border:  1px solid #dcdcdc;
            border-radius: 4px;
            outline: none;
            color: #aaaaaa;
        }
        select{
            border:none;
            outline: none;
            height: 55px;
            border:  1px solid #dcdcdc;
            color: #555555;
            border-radius: 0px 4px 4px 0px;
            margin-left: -30px;
            padding-left: 20px;
            padding-right: 35px;
        }
        button{
            padding: 18.5px 67px;
            background-color: $blue;
            border: none;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 25px;
        }
    }
    &__form {
        z-index: 9;
        position: relative;
        padding: 40px 0px;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
        .jq-selectbox__select {
            height: 55px;
            padding-left: 20px;
            padding-right: 55px;
            border:  1px solid #dcdcdc;
            border-bottom-color: #dcdcdc;
            border-radius:0 4px 4px 0;
            background: #fff;
            box-shadow: none;
            font: font-family 'Quicksand';
            color: #555555; 
            text-shadow: none;
            line-height: 40px;
            margin-left: -30px;
            margin-bottom: 4px;
            &-text{
                padding-top: 5px;
                color: #747b86;
            }
        }
        .jq-selectbox__trigger{
            position: absolute;
            top: 0;
            right: 0;
            width: 34px;
            height: 100%;
            border-left: none
        }
        .jq-selectbox__trigger-arrow {
            border: none;
            position: relative;
            &::before{
                position: absolute;
                content: '';
                background-image: url('../images/select-1.png');
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-position: center;
                padding-left: 40px;
                padding-top: 23px;
            }
        }
    }
}


//mainscreen end



//conditions

.conditions {
    padding-top: 180px;
    padding-bottom: 120px;

    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        text-align: center;
        flex-basis: calc(33.333%);
    }
}

.conditions-item {
    border-radius: 4px;
    padding: 40px 35px; 
    transition: all .3s;
    display: block;
    text-decoration: none;
    &:hover{
        box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08); 
        transition: all .3s;
    }
    &__icon{
        img{
            width: 112px;
            height: 112px;
        }
    }
    &__title {
        line-height: 7.2px;
        font-size: 24px;
        color: #000000;
        padding-top: 40px;
    }
    &__descr {
        padding-top: 35px;
        line-height: 30px;
        font-size: 16px;
        color: #555555;
    }
}


//conditions end



//slider

.slider {
    padding: 120px 0;
    background-color: #eff1f5;
    &__item {
        display: flex !important;
        background-color: #fff;
        box-shadow: 0 2px 30px rgba(147, 155, 168, 0.1);
        border-radius: 4px;
    }
    &__image {
        flex-basis: calc(50%);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        border-radius: 4px 0px 0px 4px;
    }
    &__description {
        flex-basis: calc(60%);
        padding: 50px 65px 25px 50px;
    }
    &__title {
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
        color: #000;
    }
    &__persone {
        display: flex;
        align-items: center;
        padding-top: 15px;
        a{
            text-decoration: none;
            color: #000;
        }
    }
    &__picture {
        display: flex;
        align-items: center;
    }
    &__name {
        font-size: 15px;
        line-height: 30px;  
        padding-left: 10px;
    }
    &__cms {
        display: flex;
        padding-left: 20px;
        a{
            text-decoration: none;
        }
        span{
            color: #7347c1;
            padding-left: 10px;
        }
    }
    &__text {
        font-size: 16px;
        line-height: 30px;
        color: #555555;
        padding-top: 35px;
    }
    &__product {
        display: flex;
        padding-bottom: 45px;
    }
    &__teg {
        line-height: 30px;
        font-size: 15px;
        padding: 0px 15px;
        border-radius: 14px;
        background-color: #f1f3f6;
        color: #868c96;
        margin-top: 30px;
       
        &+&{
            margin-left: 8px;
        }
    }
    &__price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 23px;
        border-top: 1px solid #ececec;
    }
    &__price-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(45%); 
    }
    &__sum {
        font-size: 15px;
        line-height: 30px;
        color: #ffffff;
        background-color: $blue;
        border-radius: 16px;
        padding: 0px 17px;
    }
    &__likes {
        color: #7347c1;
        span{
            @include f400;
            color: #555555;
        }
    }
    &__cart {
        color: #0674ec;
        span{
            @include f400;
            color: #0674ec;
        }
    }
}

.slider-controls, 
.slider-sub-controls {
    padding: 40px 30px 40px 20px;
    background-color: #fff;
    margin-bottom: 50px;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
        line-height: 28px;
        font-size: 30px;
    }
    &__buttons {
        background-color: #7347c1;
        display: flex;
        border-radius: 23px;
        padding: 15px 5px;
        button{
            background-color: transparent;
            border: none;
            color: #fff;
            outline: none;
            // font-size: 0;
            color: #b59ede;
            cursor:pointer;
            padding: 0px 20px;  
        }
    }
}

.slick-track{
    display: flex;
}

//slider end

//mixer

.mixer {
    &__wrapper{
        margin-left: -30px;
    }
    padding: 120px 0px; 
    background-color: #f6f7fb;
    &__buttons {
        .mixitup-control-active{
            background-color: $blue;
            color: #fff;
            }
        margin-left: 30px;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        padding: 30px;
        box-shadow: 0 1px 2px rgba(90, 93, 100, 0.1);
        border-radius: 4px;
        button{
            outline: none;
            padding: 10px 20px;
            border: none;
            background-color: #f1f3f6;
            border-radius: 16px;
            cursor: pointer;
            color: #a2a8b0;
            }
        }
      
    &__select {
        border: none;
        color: #747b86;
        line-height: 32px;
        font-size: 16px;
        width: 95px;
        outline: none;
    }
    .jq-selectbox__select {
        outline: none;
        width: 95px;
        height: 32px;
        border: none;
        border-bottom-color: transparent;
        border-radius: 4px;
        background: #fff;
        box-shadow: none;
        font: font-family 'Quicksand';
        color: #333;
        text-shadow: none;
    }
    .jq-selectbox__trigger{
        position: absolute;
        top: 0;
        right: 0;
        width: 34px;
        height: 100%;
        border-left: none
    }
    .jq-selectbox__trigger-arrow {
        border: none;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background-image: url('../images/select-2.png');
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-position: center;
            top: -7px;
            right: -41px;
            padding-left: 25px;
        }
    }
    .jq-selectbox__select-text {
        color: #747b86;
        width: 150%;
    }

    
}
.mixer-controls{
    margin-left: 30px;
}
.mixer-mix {
    &__box {
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    &__descr{
        padding: 30px 10px 20px 35px;        
    }

    &__item {
    margin-top: 30px;
    margin-left: 30px;  
    width: calc(33.3333% - 30px);
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    }
    &__image {
        position: relative;
        img{
            width: 100%; 
            height: 100%;
        }
        &:hover{
            .mixer-mix__hover{
                opacity: .9;
                transition: .3s;
            }
        }
    }
    &__image_name{
        display: flex;
    }
    &__title {
        font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        color: #000;
    }
    &__persone {
        display: flex;
        align-items: center;
        a{
            text-decoration: none;
        }
        padding-top: 15px;
    }
    &__name {
        display: flex;
        align-items: center;
        color: #000;
        font-size: 15px;
        line-height: 30px;
        padding-left: 7px;
    }
    &__plugin {
        padding-left: 20px;
    }
    &__cms {
        padding-left: 10px;
        color: #7347c1;
    }
    &__text {
        line-height: 30px;
        font-size: 16px;
        color: #555555;
        padding-top: 25px;
        padding-bottom: 35px;
    }
    &__calc{
        padding: 0px 30px;
        padding-bottom: 15px;
        width: calc(100%);
    }
    &__new-products{
        padding-top: 60px;
        display: flex;
        justify-content: center;
        button{
            border-radius: 28px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            padding: 20px 30px;
            border: none;
            background-color: $blue;
            color: #fff;
            outline: none;
            cursor: pointer;
            font-size: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        }
    }
    &__hover{
        height: 99%;
        border-radius: 4px 4px 0px 0px;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: .3s;
    }
    &__links{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__link{
        text-decoration: none;
        color: #fff;
        padding: 18px 28px;
        border-radius: 50px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        font-size: 15px;
        border: 1px solid #fff;
        margin:0px 5px;    
        &:nth-child(2){
            background-color: #fff;
            color: $blue;
        }
    }
}



//mixer end


//slider__sub

.slider-sub {
    padding: 120px 0px;
    background-color: #eff1f5;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(40%);
    }
    &__item{
        margin-left: 0px;
        background-color: #fff;
    }
    &__descr{
        padding: 30px 10px 20px 25px;
    }
}
.slick-slide{
    outline: none;
    margin: 15px;
}

//slider__sub end

//statistic

.statistic {
    background-color: #212225;
    padding: 100px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        text-align: center;
    }
    &__icon {
        width: 46px;
        height: 47px;
        margin: 0 auto;
    }
    &__amount {
        padding-top: 51px;
        color: #feb71d;
        font-size: 36px;
    }
    &__descr {
        font-size: 18px;
        line-height: 36px;
        color: #ffffff;
    }
    .amount-1{
        color: #58c9e9;
    }
    .amount-2{
        color: #77de51;
    }
    .amount-3{
        color: #ff6a6d;
    }
}

//statistic end

//advantages

.advantages {
    &__wrapper{
        padding: 120px 0px;
    }
    &__head {
        margin: 0 auto;
        text-align: center;
        width: calc(65%);
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        padding-top: 30px;
    }
    &__item {
        margin: 0px 15px;
        margin-top: 30px;
        border-radius: 4px;
        box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: calc(33% - 30px);
        padding: 10px 15px 60px 15px;
    }
    &__num {
        align-self: flex-start;
        font-size: 48px;
        font-weight: 300;
        opacity: 0.2;
        margin-left: -10px;
    }

    &__reasone {
        padding-top: 50px;
        font-size: 24px;
        color: #000000;
    }
    &__text {
        font-size: 16px;
        line-height: 30px;
        color: #555555;
        padding-top: 34px;
    }
}

.advantages-head{
    &__title{
        color: #000;
        font-size: 36px;
        line-height: 28px;
        span{
            color: $blue;
        }
    }
    &__descr{
        padding-top: 30px;
        font-size: 16px;
        line-height: 30px;
        color: #555555;
    }
}

//advantages end

//options

.options {
    &__wrapper {
        display: flex;
    }

    &__item{
        background-image: url('../images/item-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        text-align: center;
        padding: 100px 2px;
        width: calc(50%);

    }
    &__title {
        font-size: 36px;
        color: #ffffff;
        padding-top: 50px;
    }
    &__text {
        padding-top: 35px;
        font-size: 16px;
        line-height: 30px;
        color: #ffffff;
    }
    &__link {
        margin-top: 50px;
        font-size: 16px;
        color: #0674ec;
        text-decoration: none;
        background-color: #fff;
        padding: 20px 25px;
        display: inline-block;
        border-radius: 50px;
    }
    &__item_other{
        background-image: url('../images/item-2.jpg');
    }
    &__link_other{
        color: #7347c1;
        background-color: #fff;
    }
}

//options end

//feedback
.feedback{
    padding: 121px 0px;
    &__container{
        padding: 60px 0px;
        display: flex;
        justify-content: space-between;
        margin-left: -15px;
    }
    &__item {
        box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
        background-color: #ffffff;
        border-radius: 0px 4px 4px 0px;
        width: calc(50% - 15px);
        padding: 50px 30px;
        border-left: 2px solid $blue;
        border-top-left-radius: 1px;
    }
    &__persone {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
    }
    &__name {
        font-size: 20px;
        color: #000000;
     
    }
    &__initials{
        margin-left: 20px;  
        display: flex;
        flex-direction: column;

    }
    &__duty {
        color: #555555;
        font-size: 16px;
        line-height: 30px;
    }
    &__cloud {
        padding-right: 20px;
    }
    &__text {
        padding-top: 30px;
        font-size: 16px;
        color: #555555;
    }
    &__button{
        display: flex;
        justify-content: center;
        a{  
            background-color: $blue;
            padding: 20px 35px;
            color: #fff;
            font-size: 16px;
            text-decoration: none;
            border-radius: 50px;
        }
    }
}

//feedback end


//news
.news{
    background-color: #eff1f5;
    &__wrapper{
        padding: 120px 0px;
    }
    &__inner {
        padding-top: 60px;
        display: flex;
        margin-left: -30px;
        }
    &__item {
        box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
        width: calc(33.333% - 30px);
        margin-left: 30px;
        border-radius: 4px;
        }
    &__inside {
        padding: 30px 20px 30px 20px;
        }
    &__image {
        img{
            width: 100%;
            height: 100%;
            margin-bottom: -3px;
            border-radius: 4px;
        }
        }
    &__title {
        font-size: 22px;
        font-weight: 700;
        }
    &__text {
        padding-top: 30px;
        color: #555555;
        line-height: 30px;
        font-size: 16px;
        }
    &__bottom {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        border-top: 1px solid #ececec;
        }   
    &__date {
        img{
            margin-right: 10px;
        }
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 15px;
        flex-basis: calc(50%);
        padding-left: 30px;
        border-right: 1px solid #ececec;
        }
    &__container {
        padding-top: 10px;
        padding-bottom: 15px;
        display: flex;
        justify-content: center;
        flex-basis: calc(50%);
        }
    &__comments {
        margin-left: 30px; 
        font-family: 'Quicksand'!important;  
        &::before{
        font-family: 'icomoon' !important;
            
        }
        }
    &__views {
        margin-left: 30px;
        padding-right: 20px;
        font-family: 'Quicksand'!important;
        &::before{
        font-family: 'icomoon' !important; 
        }
        }

}


//news end

//support

.support {
    &__wrapper {
        display: flex;
        justify-content: space-between; 
    }
    &__item {
        padding: 60px 0px;
        text-align: center;
        flex-basis: calc(50%);
        &_line{
            border-right: 1px solid #e8eaf3;
        }
    }
    &__descr {
        padding-top: 30px;
        color: #000000;
        font-size: 24px;
        a{
        text-decoration: none;
                color: $blue;
        }  
    }
    &__descr_a {
        a{
           color: #7347c1; 
        }
    }
}
//support end


//action

.action {
    background-image: url('../images/bg-action.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &__wrapper {
        padding: 110px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-size: 36px;    
        color: #ffffff;
    }
    &__descr {
        font-size: 18px;
        color: #e7e7e7;
        padding-top: 25px;
    }
    &__button {
        margin-top: 40px;
        a{  
            display: inline-block;
            font-size: 16px;
            color: #0674ec;
            background-color: #fff;
            text-decoration: none;
            padding: 20px 40px;
            border-radius: 50px;
        }
    }
}

//action end

//footer

.footer {
    padding-top: 70px;
    background-color: #262b30;
    ul{
        color: #ffffff;
    }
    li{
        color: #ababab;
        list-style: none;
    }
    a{
        text-decoration: none;
        color: #ababab;
    }
    &__wrapper {
        display: flex;
        padding-bottom: 90px;
    }
    .footer__white{
        color: #fff;
        margin-top: 20px;
    }
    &__first {
        padding-left: 0px;
        flex-basis: calc(35%);
        li{
            margin-top: 30px;
            a{
                @include f400;
                margin-left: 10px;
            }
        }
        >a{
            font-size: 24px;
            @include f700;
            display: flex;
            align-items: center;
            color: #fff;
            span{
                color: $blue;
            }
        }
    }
    &__same {
        flex-basis: calc(20%);
        li{
            margin-top: 15px; 
        }
    }
    &__letter {
        padding-left: 40px;
        flex-basis: calc(47%);
        li{
        color: #ababab;
        form{
            outline: none;
            position: relative;
            width: 361px;
        }
        input{
            outline: none;
            border: none;
            height: 50px;
            width: 360px;
            padding: 5px 30px;
            border-radius: 50px;
            padding-right: 90px;
        }
        button{
            outline: none;
            position: absolute;
            height: 50px;
            padding: 5px 30px;
            background-color: $blue;
            color: #fff;
            border: none;
            border-radius: 50px;
            top: 0;
            right: 0;
        }
        }
        li{
            margin-top: 35px;
        }
    }
    .footer__social{
        &+li{
            margin-left: 15px;
        }
        a{
            color: #fff;
            width: 42px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
    }
    &__items{
        padding-left: 0px;
        display: flex;
        margin-top: 15px;
    }
    &__end{
        background-color: #192027;
        display: flex;
        justify-content: center;
        padding: 40px 0px;
    }
    &__container{
        color: #999999;
        span{
            color: #fff;
        }
    }
}

//footer end

//big-search

.big-search {
    background-image: url('../images/bg-b-search.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    &__title {
        font-size: 26px;
        color: #f3f3f8;
        line-height: 70px;
        span{
            @include f700
        }
        }   
    &__form {
        margin-top: 20px;
        width: 555px; 
        position: relative;
        input{
            outline: none;
            color: #747b86;
            border-radius: 50px;
            width: 555px; 
            border: none;
            height: 55px;
            padding-left: 30px;
        }
        button{
            outline: none;
            height: 55px;
            position: absolute;
            right: -2px;
            top: 0px;
            border: none;
            background-color: $blue;
            padding: 0px 40px;
            color: #fff;
            border-radius: 50px;
        }
        }   
    &__links {
        padding-top: 35px;
        span{
            color: #fff;
        }
        a{
            text-decoration: none;
            font-size: 15px;
            color: #f3f3f8;
        }
        } 
    &__white{
        color: #fff;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 0px 30px 0px;
    }      
}



//big-search end

// select

.select {
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    &__wrapper {
        display: flex;   
        justify-content: space-between; 
        align-items: center;
        padding: 30px 0px;
    }
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: calc(52%);
    }
    &__select{
        margin-left: 30px;
    }
    &__low-to-high{
        padding-top: 5px;

     
        .jq-selectbox__select {
            height: 44px;
            width: 200px;
            height: 32px;
            padding: 0 20px 0 10px;
            border: none;
            border-bottom-color: #fff;
            border-radius: 4px;
            background: #fff;
            box-shadow: none;
            font: font-family 'Quicksand';;
            color: #333;
            text-shadow: none;
            border-radius: 3px;
        }
        .jq-selectbox__trigger {
            position: absolute;
            top: 0;
            right: 0;
            width: 34px;
            height: 100%;
            border-left:none; 
        }
        .jq-selectbox__select-text{
            color: #555555;
        }
        .jq-selectbox__trigger-arrow{
            background-image: url('../images/select-1.png');
            width: 12px;
            height: 8px;
            top: 12px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border: none;
        }

    }


    &__product {
        text-decoration: none;
        color: #555555;
    }
    &__active {
        margin-right: 40px;
         color: $blue;
    }
    &__low-to-high {
        background-color: #fff;
        width: 220px;
        height: 44px;
        border: 1px solid #eceff2;
        outline: none;
        border-radius: 3px;
        padding-left: 15px;
    }
    &__view {
        background-color: #fff;
        border: 1px solid;border: 1px solid #eceff2;
        outline: none;
        border-radius: 3px;
        padding: 11px 16px;
        button{
            border: none;
            background-color: #fff;
            outline: none;
            cursor:pointer;
        }
    }
}
// select end

//middlescreen

.middlescreen {
    background-color: #eff1f5;
    &__wrapper{
        display: flex;
        padding-top: 40px;
        padding-bottom: 60px;
    }
    &__aside {
        flex-basis: calc(20%); 
        ul{
            padding-left: 0px;
            margin: 0px;
            padding-top: 20px;
        }
        li{ 
            margin-top: 20px;
            list-style: none;
            display: flex;
            justify-content: space-between;
            span{
                color: #747b86;
            }
        }
            a{
                width: 100%;
                display: block;
                padding: 0px 10px 0px 20px;
                text-decoration: none;
                color: #555555;
                position: relative;
                letter-spacing: 0px ;
                font-size: 15px;
                &::before{
                    position: absolute;
                    content: ">";
                    top: 0;
                    left: 0;
                    color: #747b86; 
                }
            }
        }
        &__title {
            border-bottom: 1px solid  #e7ebee;
            font-size: 20px;
            line-height: 70px;
            position: relative;
            &::after{
                position: absolute;
                content: "";
                background-image: url('../images/select-1.png');
                width: 12px;
                height: 8px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position:center;
                top: 46%;
                right: 0;   
            }
    }
        &__cms {
            li{
                input{
                    display: inline-block;
                    padding: 0px 50px 0px 20px;
                    text-decoration: none;
                    color: #555555;
                }
            }
            span{
                padding-left: 10px;
            }
            &_different{
                li{
                    display: flex;
                    justify-content:flex-start;
                }
            }
    }
        &__padding{
            margin-top: 30px;
            padding: 10px 20px 35px 20px;
            box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
            border-radius: 4px;
            background-color: #ffffff;
            .jq-radio{ 
                margin-top: 4px;
                width: 10px;
                height: 10px;
                border: 1px solid #747b86;;
                background: #fff;
                box-shadow: none;
                cursor: pointer;
            }
            .jq-radio.checked .jq-radio__div{
                width: 5px;
                height: 5px;
                margin: 2px 2px 2px 2px;
            }
        }
        &__active {
            a{
                 color: $blue;
            }   
    }
        &__button {
            margin: 0 auto;
            display: block;
            font-size: 15px;
            background-color: $blue;
            padding: 15px 30px;
            border: none;
            color: #fff;
            outline: none;
            border-radius: 50px;
            margin-top: 60px;
    }
        &__products {
            display: flex;
            flex-wrap: wrap;
            flex-basis: calc(80%);
    }
}

.middlescreen-product {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(30%);
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    &__image {
           img{
                margin-bottom: -3px;    
               width: 100%;
               height: 100%;
           }
    }
    &__inner {
        padding: 20px 15px 15px 15px;
    }
    &__title {
        color: #000000;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
    }
    &__persone {
        margin-top: 10px;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    &__name {
        padding-left: 7px;
        color: #000;
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
    }
    &__rate {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    &__cart {
        color: $blue;
        span{
           font-family: 'Quicksand'; 
        }     
    }
    &__bottom {
        border-top: 1px solid  #ececec;
        padding: 15px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__price {
        background-color: #e6f1fd;
        padding: 8px 20px;
        border-radius: 50px;
        color: $blue;
    }
}

.irs--flat .irs-line{
    background-color: #efedf3;
    height: 6px;    
}
.irs--flat .irs-bar{
    background-color: #9371ce;
    height: 6px;   
}
.irs--flat .irs-handle{
    top: 20px;
    width: 18px;
    height: 18px;
    border: 4px solid #0674ec;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 50%;
    background-color: #fff;
}
.irs--flat .irs-handle>i:first-child {
    display: none;
}
.irs--flat .irs-to,
.irs--flat .irs-from{
    font-size: 15px;
    top: 50px;
    background-color: #f1edf9;
    color: #7347c1;
    padding: 5px 15px;
    border-radius: 50px;
    &::before{
        display: none;
    }
}
.irs--flat .irs-single{
    border-radius: 50px;
    background-color: #f1edf9;
    color: #7347c1;
    &::before{
        display: none;
    }
}
.irs--flat .irs-min{
    display: none;
}
//middlescreen end
.dn{
    display: none;
}
.color{
    color: $blue;
}
//horizontal
.horizontal-productsproducts{
    flex-basis: calc(80%);
    display: none;
}
.db{        
    display: block;    
}
.middlescreen-horizontal {
    background-color: #fff;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;      
    border-radius: 4px;
    &__inner {
        padding: 30px 30px 30px 20px;
        display: flex;
    }
    &__image{
                flex-basis: calc(35%);
                img{
                    width: 100%;
                    height: 100%;
                }
    }
    &__block {
        padding-right: 20px;
        flex-basis:calc(45%);
    }   
    &__title {
        line-height: 24px;
        font-size: 18px;
        color: #000000;
        font-weight: 700;
    }
    &__text {
        padding-top: 10px;
        line-height: 30px;
        color: #555555;
        margin-bottom: 20px;
    }
    &__cms {
        text-decoration: none;
        display: block;
        color: #7347c1;
        line-height: 20px;
    }
    &__persone {
        padding-top: 30px;
        flex-basis:calc(40%);
        padding-left: 40px;
        border-left: 1px solid  #ececec;
    }
    &__link {
        display: flex;
        text-decoration: none;
        font-size: 15px;
        line-height: 30px;
        color: #000;
        font-weight: 700;
    }
    &__like{
        padding-top: 20px;
    }
    &__likes {
        color: #6f7d8d;
        font-size: 15px;
        line-height: 30px;
        span{
         font-family: 'Quicksand';
        }
    }
    &__star {
        padding-top: 10px;
        span{
            color: #6f7d8d;
            font-size: 15px;
            line-height: 30px;
        }
    }
    &__cost{
        display: flex;
        width: 20%;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        border-left: 1px solid  #ececec;
        flex-basis:calc(30%);
    }
    &__price {
        text-align: center;
    }
    &__backs {
        padding: 10px 20px;
        border-radius: 50px;
        display: inline-block;
        background-color: #e6f1fd;
        color: $blue;
        padding-bottom: 15px;
    }
    &__cart { 
        padding-top: 15px;
        text-align: center;
        color: #0674ec;
        span{
            font-family: 'Quicksand';
        }
    }
}


//horizontal end

//pagination

.pagination {
    padding-bottom: 120px;
    &__wrapper {
        display: flex;
        justify-content: flex-end;
    }
    &__prev{
        margin-right:15px;
        margin-left: 0px;
    }
    &__link,
    &__next,
    &__prev {
        display: inline-block;
        background-color: #fff;
        padding: 8px 20px;
        border-radius: 50px;
        color: #747b86;
        text-decoration: none;
        margin-left: 5px;   
    }
    &__next{
        margin-left: 15px;
        background-color: #7347c1;
    }
    &__more {
        margin-left: 5px;   
        background-color: #fff;
        padding: 8px 20px;
        display: inline-block;
        cursor: pointer;
        border-radius: 50px;
        color: #747b86;
    }
    &__disabled {
        display: flex;
    }
    .dn{
        display: none;
        transition: all .5s;
    }
}

//pagination end


//seaech-links


.search-links {
    padding: 55px 0px;
    background-color: #3831b8;
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__title {
        font-size: 30PX;
        color: #fff;
    }
    &__links {
        font-size: 15px;
        line-height: 70px;
        span{
            color: #fff;
        }
        a{
        text-decoration: none;
        color: #bfcad7;
        }
    }
    &__white {
        color: #fff;
    }
}

//seaech-links end


// preview
  
.preview {
    background-color: #eff1f5;
    padding-top: 70px;
    padding-bottom: 110px;
    &__items {
        display: flex;
    }
    &__item {
        flex-basis: calc(65%);
        margin-right: 20px;
    } 
    &__big {
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
        background-color: #fff;
    }
    &__image {
        img{
            width: 100%;
            border-radius: 4px 4px 0 0;
        }
    }
    &__inner {
        padding: 30px 30px 40px 30px;

    }
    &__links {
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
    }
    &__button{
        display: flex;
        align-items: center;
        border: none;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        background-color: #fff;
        padding: 15px 30px;
        outline: none;
        border-radius: 50px;
        cursor:pointer;
        margin-right: 20px;
        span{
            padding-left: 8px;
        }
        &:active{
        box-shadow: 1px 3px 3px 1px rgba(108, 111, 115, 0.1);
        }
    } 
    &__link {
        text-decoration: none;
        font-size: 15px;
        color: #7c53c5;
        background-color: #fff;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        padding: 20px 20px;
        margin: 0px 15px;
        span{
            font-family: 'Quicksand';
        }
        &_one {
            padding: 20px 50px;
            margin-left: 30px;
            background-color: $blue;
            color: #fff;
        }
    }
    &__social {
        border-top: 1px solid #e8e8e8;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 35px;
        ul{
            margin: 0px;
            list-style: none;
            padding-left: 0px;
            display: flex;
            li{
                &+li{
                    margin-left: 15px;
                }
                a{
                    text-decoration: none;  
                    color: #fff;
                    font-size: 16px;
                    display: block;
                    width: 42px;
                    height: 42px;
                    border-radius: 50px;
                    text-align: center;
                    padding-top: 14px;
           
                }
            }
        }
    }

    &__tabs {
        background-color: #fff;
        margin-top: 28px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        .tabs{
            display: flex;
        }
        .tab{
            border-top: 3px solid transparent;
            width: 100%;
            border-bottom: 1px solid #e8e8e8;
            border-left: 1px solid #e8e8e8;
            text-align: center;
            padding: 28px 0px;
            font-size: 17px;
            cursor: pointer;
            &:nth-child(1){
                border-left: none;
            }
        }
        .tab_content{
        padding: 80px 50px;
        }
        .active1{
            border-top: 3px solid $blue;
            transition: all.3s;
            border-bottom: none;
        }
    }
  
    
}
.preview-tabs{
    &__title {
        font-size: 28px;
        padding-bottom: 32px;
    }
    &__text{
        font-size: 16px;    
        line-height: 30px;
        color: #555555;
        padding-bottom: 70px;
    }
    &__ul {
        margin: 0px;
        list-style: none;
        padding-bottom: 70px;
        padding-left: 0px;
        li{
            font-size: 16px;
            line-height: 34px;
            color: #555555;
            display: flex;
            span{
                padding-right: 30px;
                width: 10px;
                display: block;
                padding-left: 10px;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
    &__li {
        position: relative;
        padding-left: 40px;
        &::before{
            position: absolute;
            content:"";
            background-image: url('../images/ok.png');
            width: 13px;
            height: 10px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            top:33%;
            left: 1%;
        }
    }
    &__image {
        img{
            width: 100%;
            height: 100%;
        }
    }
}


.preview-aside {
    flex-basis: calc(35%);
    margin-left: 20px;
    &__wrapper{
        background-color: #fff;
        border-radius: 4px;
    }
    &__lisence {
        padding: 20px 30px 40px 30px;
        background-color: #fff;
        border-radius: 0 0 4px 4px;
        button{
            display: block;
            margin: 30px auto;
            width: 100%;
            background-color: $blue;
            padding: 22px 0px;
            border:none;
            color: #fff;
            border-radius: 50px;
            cursor: pointer;
            span{
                font-family: 'Quicksand';
            }
        }
        .preview-aside__colorbtn{
            background-color: #7347c1;
        }
        .jq-radio {
            vertical-align: -1px;
            width: 20px;
            height: 20px;
            margin: 0 5px 0 0;
            border: 4px solid #e6e9ed;
            background: #fff;
            box-shadow: none;
            cursor: pointer;
            overflow: visible;
        }
        .jq-radio.checked .jq-radio__div {
            position: relative;
            width: 20px;
            height: 20px;
            margin: 0;
            border-radius: 50%;
            background-color: #fff;
            background-image: url('../images/chek.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: none;
            border: $blue;
            top: -3px;
            right: 4px;
        }
    }
 
    &__price {
        background-color: $blue;
        color: #fff;
        font-size: 36px;
        padding: 40px 0px;
        border-radius: 4px 4px 0 0;
        text-align: center;
    }
    &__title-price {
        font-size: 18px;
        color: #333333;
        font-weight: 700;
        &_padding{
            padding-top: 30px;
            padding-bottom: 25px;
        }
    }
    &__descr {
        font-size: 16px;
        line-height: 30px;
        color: #555;
        padding: 30px 0px;
        border-bottom: 1px solid #ececec;
    }
    &__separate{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        padding-bottom: 25px;
        border-bottom: 1px solid #ececec;
        text-decoration: none;
    }
    &__statistic {
        margin-top: 30px;
        padding: 10px 30px 40px 30px;
        background-color: #fff;
        font-size: 16px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
        span{
            color: #555;
            display: block;
            font-family: 'Quicksand';
        }
        .preview-aside__flex{
            display: flex;
        }
        .preview-aside__sales {
            padding-right: 8px;  
            color: $blue;
        }
        .preview-aside__likes {
            padding-right: 8px;  
            color: #7f4ec2;
        }
        .preview-aside__comment {
            padding-right: 8px;  
            color: #58c9e9;
        }
        .number{
            color: #333333;
            font-size: 16px;    
            font-weight: 700;
            align-self: flex-end;
        }
    }
    &__stars {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }
    &__img{
          img{
            width: 100%;
        }
    }
    &__prodinfo {
        margin-top: 30px;
        padding: 35px 25px 40px 25px;
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
    }
    &__title {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #ececec;
    }
    &__container {
        ul{
            padding-left: 0px;
            list-style: none;
            li{
                display: flex;
                justify-content: space-between;
                margin-top: 25px;
                span{
                    font-weight: 700;
                    display: block;
                    flex-basis: calc(40%);
                    font-size: 15px;
                }
                .preview-aside__date{
                    font-weight: 400;
                    flex-basis: calc(60% - 20px);
                    margin-left: 20px;
                    padding-top: 0px;
                }   
                .preview-aside__colspan{
                    color: $blue;
                }
            }
        }
    }

    &__author {
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        margin-top: 30px;
        text-align: center;
        background-color: #fff;
        padding: 40px 30px;
        border-radius: 4px;
    }
    &__author-social{
        border-top: none;
    }
    &__profile {
        text-decoration: none;
    }

    &__name {
        font-size: 18px;
        font-weight: 700;
        color: #000;
        padding-top: 25px;
    }
    &__date {
        color: #555;
        padding-top: 25px;
    }
    &__links {
        display: flex;
        margin-top: 30px;   
        width: 100%;
        justify-content: center;
        margin-left: 10px;
    }
    &__link {
        margin-left: -19px; 
        margin-right: 5px;
        font-size: 15px;
        border-radius: 50px;
        display: block;
        background-color: $blue;
        text-decoration: none;
        color: #fff;
        padding: 15px 25px;
        &_violet{
            margin-right: 0px;
            margin-left: 5px;
            background-color: #7347c1;
            padding: 15px 16px;  
        }
    }
}


// preview end


//more items
.more-items{
    padding: 120px 0px;
}
.more-items__title {
    text-align: center;
    font-size: 30px;
    color: #000;
    span{
        text-decoration: none;
        a{
            text-decoration: none;
            color: $blue;
        }
    }
}
.more-items__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;  
}

//more items end


//favorites

.select-favorite {
    &__wrapper{
        padding: 0px;
    }
    display: flex;
    align-items: center;
    &__title {
        font-size: 24px;
        span{
            font-weight: 700;
        }
    }
    &__select {
        padding-left: 85px;
    }
    .jq-selectbox__select {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 54px 0 30px;
        border:none;
        border-bottom-color: none;
        border-radius: 0px;
        border-left: 1px solid #eceff2;
        border-right: 1px solid #eceff2;
        background: #fff;
        box-shadow: none;
        font: font-family 'Quicksand';
        color: #555555;
        text-shadow: none;
    }
    .jq-selectbox{
        height: 100px;
    }
    .jq-selectbox__trigger {
        border-left: none;
    }
    .jq-selectbox__trigger-arrow {
        position: absolute;
        top: 47px;
        right: 35px;
        width: 0;
        height: 0;
        content: '';
        background-image: url('../images/select-1.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 12px;
        height: 8px;
        border-top: 0px solid #999;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
    }
}


.schedule{
    background-color: #eff1f5;
    &__items{
        padding: 40px 0 0 0;
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
    }
    &__item{
        margin-left: 30px;
        background-color: #fff;
    }
    &__pagination{
      margin: 0 auto;
      margin-top: 75px;
    }
}

//favorites end


//login

  
.login {
    background-color: #eff1f5;
    padding: 70px 0px 110px 0px;
    &__wrapper {
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
        background-color: #fff;
        width: calc(50%);
        margin: 0 auto;
    }
    &__title {
        font-size: 26px;
        line-height: 28px;
        color: #000;
        text-align: center;
    }
    &__top{
        padding: 50px 60px 30px;
        border-bottom: 1px solid #e8ebf0;
    }
    &__sign{
        text-align: center;
        font-size: 16px;
        line-height: 28px;
        color: #555;
        padding-top: 30px;
    }
    &__inner {
        padding: 0px 50px 60px 60px;
        }
    &__form {
        .jq-radio {
            vertical-align: -5px;
            width: 20px;
            height: 20px;
            margin: 0 5px 0 0;
            border: 4px solid #e6e9ed;
            background: #fff;
            box-shadow: none;
            cursor: pointer;
            overflow: visible;
        }
        .jq-radio.checked .jq-radio__div {
            position: relative;
            width: 20px;
            height: 20px;
            margin: 0;
            border-radius: 50%;
            background-color: #fff;
            background-image: url('../images/chek.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: none;
            border: $blue;
            top: -4px;
            right: 4px;
        }
        button{
            display: block;
            outline: none;
        }
        input{
            font-size: 16px;
            line-height: 26px;
            color: #555;
            outline: none;
        }
    }
    &__wrap{
        margin-top: 30px;
        button{
            margin-top: 30px;
            background-color: $blue;
            border: none;
            color: #fff;
            padding: 15px 65px;
            border-radius: 50px;
            cursor: pointer;
            outline: none;
        }
    }
    &__input {
        label{
            font-size: 16px;
            line-height: 26px;
            color: #000;
            font-weight: 700;
            margin-top: 30px;
            display: block;
        }
        input{
            margin-top: 10px;
            width: 100%;
            color: #898f96;
            background-color: #f4f5f8;
            border: none;
            height: 50px;
            padding: 0px 20px;
            outline:none;
        }
       
    }
    &__support {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        span{
            font-size: 16px;    
            color: #898f96;
            a{
                color: $blue;
                text-decoration: none;
            }
        }
    }
    &__recover{
        padding: 20px 15px 30px 65px;
        .login__sign{
            text-align: left;
        }
    }
}

//login end


// hiw

.hiw{
    text-align: center;
    padding: 90px 0px 30px 0px;
    &__title{
        span{
            font-weight: 300;
            padding-top: 25px;
            display: block;
        }
    }
    &__links{
        padding-top: 70px;
    }
    &__wrapper{
        align-items: center;
    }
}

  
.create-new-account {
    &__wrapper {
        display: flex;
        padding: 100px 0px;
        align-items: center;
    }
    &__img {
        flex-basis: calc(50%);

    }
    &__descr {
        flex-basis: calc(50%);
       padding-left: 100px;
    }
    &__title {
        padding-top: 10px;
        font-size: 30px;
        height: 46px;
    }
    &__text {
        padding-top: 35px;
        font-size: 16px;
        line-height: 30px;
        color: #555;
    }
    &__link {
        padding-top: 30px;
        a{  
            box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
            display: inline-block;
            padding: 15px 35px;
            color: #fff;
            text-decoration: none;
            background-color: $blue;
            border-radius: 50px;
        }

    }
    
}

.upload{
    background-color: #eff1f5;
    &__descr{
       padding-left: 0px;
       padding-right: 100px;
    }
    &__img{
        text-align: right;
        padding-right: 10px; 
    }
    &__link{
        a{
            color: $blue;
            background-color: #fff;
            box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        }
    }
}

  

// hiw end


@import "media";
